<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>deviceUID</key>
		<string>9255552001</string>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255552001</string>
		<key>email</key>
		<string>faker_teagan@example.com</string>
		<key>activationCode</key>
		<string>9999</string>
	</dict>
	<dict>
		<key>deviceUID</key>
		<string>9255552002</string>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255552002</string>
		<key>email</key>
		<string>faker_victor_hegmann@example.net</string>
		<key>activationCode</key>
		<string>9999</string>
	</dict>
	<dict>
		<key>deviceUID</key>
		<string>9255552003</string>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255552003</string>
		<key>email</key>
		<string>faker_mara.oreilly@example.net</string>
		<key>activationCode</key>
		<string>9999</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255551001</string>
		<key>email</key>
		<string>faker_katlyn_von@example.com</string>
		<key>password</key>
		<string>password</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255551002</string>
		<key>email</key>
		<string>faker_maximo@example.net</string>
		<key>password</key>
		<string>password</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255551003</string>
		<key>email</key>
		<string>faker_juvenal@example.com</string>
		<key>password</key>
		<string>password</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>636467228</string>
		<key>email</key>
		<string>s.maximenko@mobidev.biz</string>
		<key>password</key>
		<string>87b7353a49</string>
		<key>deviceUID</key>
		<string>2c2f439152930d334a8d741bb30dd2a70d35cd64</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>951383026</string>
		<key>email</key>
		<string>s.maximenko@mobidev.biz</string>
		<key>password</key>
		<string>ae7a61bf42</string>
		<key>deviceUID</key>
		<string>05920f50b158b962cfa03a968b3cd3ed0ae68ce4</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>679533279</string>
		<key>email</key>
		<string>o.vyshnivetsky@mobidev.biz</string>
		<key>password</key>
		<string>ac2dd6ace4</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>636467228</string>
		<key>email</key>
		<string>s.maximenko.mobidev@gmail.com</string>
		<key>password</key>
		<string>20b83a5fb4</string>
		<key>deviceUID</key>
		<string>2c2f439152930d334a8d741bb30dd2a70d35cd64</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>957115540</string>
		<key>email</key>
		<string>y.granchenko@mobidev.biz</string>
		<key>password</key>
		<string>349607f57e</string>
		<key>deviceUID</key>
		<string>de3cd122d1bb3e1707059b06358c3de45308a372</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>632124353</string>
		<key>email</key>
		<string>e.ustimenko@mobidev.ru</string>
		<key>password</key>
		<string>edf8ee8cc8</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>956213431</string>
		<key>email</key>
		<string>y.granchenko@gmail.com</string>
		<key>password</key>
		<string>098683872e</string>
	</dict>
</array>
</plist>
