<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>951383026</string>
		<key>email</key>
		<string>s.maximenko@mobidev.biz</string>
		<key>password</key>
		<string>264c6e23ba</string>
		<key>deviceUID</key>
		<string>cd6bae9cc9509de5b4edaeff451840c22cae2191</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>636467228</string>
		<key>email</key>
		<string>s.maximenko.mobidev@gmail.com</string>
		<key>password</key>
		<string>19c3aa55be</string>
		<key>deviceUID</key>
		<string>61058010c61b0b0a9808b47dc2f1c0fe3c9d6343</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>957115540</string>
		<key>email</key>
		<string>y.granchenko@mobidev.biz</string>
		<key>password</key>
		<string>c7bc02b1bd</string>
		<key>deviceUID</key>
		<string>1b07ccd9525477e4c7d084d9197951f66986c5b9</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>632124353</string>
		<key>email</key>
		<string>e.ustimenko@mobidev.ru</string>
		<key>password</key>
		<string>edf8ee8cc8</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>666680745</string>
		<key>email</key>
		<string>y.granchenko@gmail.com</string>
		<key>password</key>
		<string>84b3878596</string>
		<key>deviceUID</key>
		<string>c55e5f36ea8ed3c50df77224dde13118c902537b</string>
	</dict>
	<dict>
		<key>deviceUID</key>
		<string>8d11c2102e7b0132e43f0abd3edd1a07</string>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255552001</string>
		<key>email</key>
		<string>faker_murphy.stamm@example.org</string>
		<key>activationCode</key>
		<string>9999</string>
	</dict>
	<dict>
		<key>deviceUID</key>
		<string>8e7f7e702e7b0132e4410abd3edd1a07</string>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255552002</string>
		<key>email</key>
		<string>faker_valentin.padberg@example.org</string>
		<key>activationCode</key>
		<string>9999</string>
	</dict>
	<dict>
		<key>deviceUID</key>
		<string>8fa131e02e7b0132e4430abd3edd1a07</string>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255552003</string>
		<key>email</key>
		<string>faker_toby.gorczany@example.com</string>
		<key>activationCode</key>
		<string>9999</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255551001</string>
		<key>email</key>
		<string>faker_darrel@example.net</string>
		<key>password</key>
		<string>password</string>
		<key>deviceUID</key>
		<string>a225a6202e7b0132e46b0abd3edd1a07</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255551002</string>
		<key>email</key>
		<string>faker_daisha@example.com</string>
		<key>password</key>
		<string>password</string>
		<key>deviceUID</key>
		<string>a39443d02e7b0132e4730abd3edd1a07</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255551003</string>
		<key>email</key>
		<string>faker_jake@example.com</string>
		<key>password</key>
		<string>password</string>
		<key>deviceUID</key>
		<string>a4b38c702e7b0132e4770abd3edd1a07</string>
	</dict>
</array>
</plist>
