<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>custom</string>
		<key>users</key>
		<array>
			<dict>
				<key>countryCode</key>
				<string>380</string>
				<key>phone</key>
				<string>951383026</string>
				<key>email</key>
				<string>s.maximenko@mobidev.biz</string>
				<key>password</key>
				<string>f22b5f2b67</string>
				<key>deviceUID</key>
				<string>cd6bae9cc9509de5b4edaeff451840c22cae2191</string>
			</dict>
			<dict>
				<key>countryCode</key>
				<string>380</string>
				<key>phone</key>
				<string>636467228</string>
				<key>email</key>
				<string>s.maximenko.mobidev@gmail.com</string>
				<key>password</key>
				<string>c94713d719</string>
				<key>deviceUID</key>
				<string>efedbd3c2b53f22f389de174c868aa8a96d0f349</string>
			</dict>
			<dict>
				<key>countryCode</key>
				<string>380</string>
				<key>phone</key>
				<string>957115540</string>
				<key>email</key>
				<string>y.granchenko@mobidev.biz</string>
				<key>password</key>
				<string>17c3845921</string>
				<key>deviceUID</key>
				<string>1db63c7c523787e0e461213e59865ec113000d5c</string>
			</dict>
			<dict>
				<key>countryCode</key>
				<string>380</string>
				<key>phone</key>
				<string>632124353</string>
				<key>email</key>
				<string>e.ustimenko@mobidev.ru</string>
				<key>password</key>
				<string>edf8ee8cc8</string>
			</dict>
			<dict>
				<key>countryCode</key>
				<string>380</string>
				<key>phone</key>
				<string>956213431</string>
				<key>email</key>
				<string>yura-granchenko@yandex.ru</string>
				<key>password</key>
				<string>f1fa49e04f</string>
				<key>deviceUID</key>
				<string>07d032c0ce7cefe68bce42ae416aa72e86eb6b02</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>activated</string>
		<key>users</key>
		<array>
			<dict>
				<key>countryCode</key>
				<string>1</string>
				<key>phone</key>
				<string>9255551001</string>
				<key>email</key>
				<string>faker_austyn_connelly@example.org</string>
				<key>password</key>
				<string>password</string>
				<key>deviceUID</key>
				<string>1d63d3b0300b0132548c0abd3edd1a07</string>
			</dict>
			<dict>
				<key>countryCode</key>
				<string>1</string>
				<key>phone</key>
				<string>9255551002</string>
				<key>email</key>
				<string>faker_casey.abbott@example.org</string>
				<key>password</key>
				<string>password</string>
				<key>deviceUID</key>
				<string>1ec5d0a0300b0132548e0abd3edd1a07</string>
			</dict>
			<dict>
				<key>countryCode</key>
				<string>1</string>
				<key>phone</key>
				<string>9255551003</string>
				<key>email</key>
				<string>faker_kristoffer@example.org</string>
				<key>password</key>
				<string>password</string>
				<key>deviceUID</key>
				<string>20029f00300b013254900abd3edd1a07</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>non-activated</string>
		<key>users</key>
		<array>
			<dict>
				<key>deviceUID</key>
				<string>f9eba7b0300a013254780abd3edd1a07</string>
				<key>countryCode</key>
				<string>1</string>
				<key>phone</key>
				<string>9255552001</string>
				<key>email</key>
				<string>faker_emilio.bogan@example.org</string>
				<key>activationCode</key>
				<string>9999</string>
			</dict>
			<dict>
				<key>deviceUID</key>
				<string>fbb0af90300a0132547a0abd3edd1a07</string>
				<key>countryCode</key>
				<string>1</string>
				<key>phone</key>
				<string>9255552002</string>
				<key>email</key>
				<string>faker_mandy@example.org</string>
				<key>activationCode</key>
				<string>9999</string>
			</dict>
			<dict>
				<key>deviceUID</key>
				<string>fd113fc0300a0132547c0abd3edd1a07</string>
				<key>countryCode</key>
				<string>1</string>
				<key>phone</key>
				<string>9255552003</string>
				<key>email</key>
				<string>faker_jayme.medhurst@example.net</string>
				<key>activationCode</key>
				<string>9999</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
