<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>development</key>
	<array>
		<dict>
			<key>deviceUID</key>
			<string>9c5530466301f7a41577cc2bd16ac2a15ea64fe5</string>
			<key>email</key>
			<string>s.maximenko@mobidev.biz</string>
			<key>password</key>
			<string>d092f2c4b4</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>f38941ece2b91cc369984fb78e98e1e5d8cda2c4</string>
			<key>email</key>
			<string>s.maximenko@mobidev.biz</string>
			<key>password</key>
			<string>d2d0421f5b</string>
			<key>phone</key>
			<string>951383026</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>90a5c168cfdefccedbe024ee6b28383b662cb792</string>
			<key>email</key>
			<string>s.maximenko.mobidev@gmail.com</string>
			<key>password</key>
			<string>2766fcc4fa</string>
			<key>phone</key>
			<string>636467228</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>29efce61133449984a009adfc89c8c0db73ffb75</string>
			<key>email</key>
			<string>y.granchenko@mobidev.biz</string>
			<key>password</key>
			<string>99d1cb8f8a</string>
			<key>phone</key>
			<string>957115540</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>email</key>
			<string>e.ustimenko@mobidev.ru</string>
			<key>password</key>
			<string>edf8ee8cc8</string>
			<key>phone</key>
			<string>632124353</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>2843f812d83e161e98f5497509bb64252536fbc6</string>
			<key>email</key>
			<string>y.granchenko@gmail.com</string>
			<key>password</key>
			<string>f7cfe35dc1</string>
			<key>phone</key>
			<string>956213431</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>20de4a0a1f05b8420a2c5857a79dd508a7eb5c8f</string>
			<key>email</key>
			<string>yura-granchenko@yandex.ru</string>
			<key>password</key>
			<string>90c458f99f</string>
			<key>phone</key>
			<string>666680745</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>2065c763eb41c39680173449de58bffbe252c779</string>
			<key>email</key>
			<string>s.zakharov@mobidev.biz</string>
			<key>password</key>
			<string>1732c0cec7</string>
			<key>phone</key>
			<string>918013610</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>708fc4c439ffb15627a95c325ea6950e12ce1697</string>
			<key>email</key>
			<string>sergey.zakharov.md@gmail.com</string>
			<key>password</key>
			<string>5767a308a0</string>
			<key>phone</key>
			<string>983742044</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>0bb227a0eea70132a10d0abd3edd1a07</string>
			<key>email</key>
			<string>faker_shaina_gulgowski@example.com</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551001</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>0ce15ae0eea70132a1100abd3edd1a07</string>
			<key>email</key>
			<string>faker_dax@example.org</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551002</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>0dc27de0eea70132a1130abd3edd1a07</string>
			<key>email</key>
			<string>faker_america@example.com</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551003</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>0e919820eea70132a1160abd3edd1a07</string>
			<key>email</key>
			<string>faker_marilou.rogahn@example.com</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551004</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>0fc106a0eea70132a1190abd3edd1a07</string>
			<key>email</key>
			<string>faker_marjory_mckenzie@example.net</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551005</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>107133b0eea70132a11c0abd3edd1a07</string>
			<key>email</key>
			<string>faker_mike_ernser@example.com</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551006</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>1122bdc0eea70132a11f0abd3edd1a07</string>
			<key>email</key>
			<string>faker_ivory.purdy@example.org</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551007</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>11c531f0eea70132a1220abd3edd1a07</string>
			<key>email</key>
			<string>faker_noel@example.org</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551008</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>12da42d0eea70132a1250abd3edd1a07</string>
			<key>email</key>
			<string>faker_elwin_harris@example.net</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551009</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>13bcaad0eea70132a1280abd3edd1a07</string>
			<key>email</key>
			<string>faker_danny@example.net</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551010</string>
		</dict>
	</array>
	<key>local</key>
	<array>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>9c5530466301f7a41577cc2bd16ac2a15ea64fe5</string>
			<key>email</key>
			<string>s.maximenko@mobidev.biz</string>
			<key>password</key>
			<string>f92d004555</string>
			<key>phone</key>
			<string>951383026</string>
		</dict>
	</array>
	<key>production</key>
	<array>
		<dict>
			<key>deviceUID</key>
			<string>9c5530466301f7a41577cc2bd16ac2a15ea64fe5</string>
			<key>email</key>
			<string>s.maximenko@mobidev.biz</string>
			<key>password</key>
			<string>31bbe83cdf</string>
		</dict>
	</array>
	<key>qa</key>
	<array>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>d6aa020a32d515a5580a876edd550ea883c1ca84</string>
			<key>email</key>
			<string>s.zakharov@mobidev.biz</string>
			<key>password</key>
			<string>f7c6287469</string>
			<key>phone</key>
			<string>918013610</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>6e1d94d450da08697858f5eae57443624720aa0b</string>
			<key>email</key>
			<string>sergey.zakharov.md@gmail.com</string>
			<key>password</key>
			<string>db503c87a6</string>
			<key>phone</key>
			<string>918013611</string>
		</dict>
		<dict>
			<key>deviceUID</key>
			<string>9c5530466301f7a41577cc2bd16ac2a15ea64fe5</string>
			<key>email</key>
			<string>s.maximenko@mobidev.biz</string>
			<key>password</key>
			<string>66be4e9ed6</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>472f48f0eea7013295780a17bdb65fbb</string>
			<key>email</key>
			<string>faker_roosevelt@example.com</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551001</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>480ecb80eea70132957b0a17bdb65fbb</string>
			<key>email</key>
			<string>faker_aiden@example.com</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551002</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>48ceb5b0eea70132957e0a17bdb65fbb</string>
			<key>email</key>
			<string>faker_iva@example.net</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551003</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>499ced70eea7013295810a17bdb65fbb</string>
			<key>email</key>
			<string>faker_irwin@example.org</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551004</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4a9b2be0eea7013295840a17bdb65fbb</string>
			<key>email</key>
			<string>faker_zoie_olson@example.org</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551005</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4b48df40eea7013295870a17bdb65fbb</string>
			<key>email</key>
			<string>faker_stanford@example.com</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551006</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4c0cd130eea70132958a0a17bdb65fbb</string>
			<key>email</key>
			<string>faker_gregg@example.org</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551007</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4cf21160eea70132958d0a17bdb65fbb</string>
			<key>email</key>
			<string>faker_tremayne@example.org</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551008</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4d9e8310eea7013295900a17bdb65fbb</string>
			<key>email</key>
			<string>faker_laurie.olson@example.com</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551009</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4e603310eea7013295930a17bdb65fbb</string>
			<key>email</key>
			<string>faker_christy@example.com</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551010</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>75d46b948270982b6d2495d2a4731e288f893892</string>
			<key>email</key>
			<string>adsfadsf@rambler.ru</string>
			<key>password</key>
			<string>f9196a7e43</string>
			<key>phone</key>
			<string>957115540</string>
		</dict>
	</array>
</dict>
</plist>
