<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Report Content</string>
		<key>fontSize</key>
		<integer>17</integer>
		<key>fontColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Why are you reporting this content?</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>The content is spam or a scam</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>The content puts people at risk</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Self-harm</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Harassment or bullying</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Drug use</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>The content shouldn&apos;t be on meWrap</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<false/>
	</dict>
	<dict>
		<key>title</key>
		<string>Nudity or pornography</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Graphic violence</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Hate speech or symbol</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>Intellectual property violation</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>showArrow</key>
		<true/>
	</dict>
</array>
</plist>
