<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>report_content</string>
		<key>fontSize</key>
		<integer>17</integer>
		<key>fontColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>indent</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>why_reporting_contnet</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>indent</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>content_is_spam_or_scam</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>v_code</key>
		<string>vc01</string>
		<key>indent</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>content_people_risk</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>indent</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>self_harm</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>v_code</key>
		<string>vc02</string>
		<key>indent</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>harassment_or_bullying</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>v_code</key>
		<string>vc03</string>
		<key>indent</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>drug_use</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>v_code</key>
		<string>vc04</string>
		<key>indent</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>content_shouldn&apos;t_mewrap</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>38</integer>
			<integer>38</integer>
			<integer>38</integer>
			<integer>1</integer>
		</array>
		<key>indent</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>nudity_or_pornography</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>v_code</key>
		<string>vc05</string>
		<key>indent</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>graphic_violence</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>v_code</key>
		<string>vc06</string>
		<key>indent</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>hate_speech_or_symbol</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>v_code</key>
		<string>vc07</string>
		<key>indent</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>intellectual_property_violation</string>
		<key>fontSize</key>
		<integer>15</integer>
		<key>fontColor</key>
		<array>
			<integer>135</integer>
			<integer>135</integer>
			<integer>135</integer>
			<integer>1</integer>
		</array>
		<key>v_code</key>
		<string>vc08</string>
		<key>indent</key>
		<integer>10</integer>
	</dict>
</array>
</plist>
