<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>deviceUID</key>
		<string>9255552001</string>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255552001</string>
		<key>email</key>
		<string>faker_louisa.gaylord@example.org</string>
		<key>activationCode</key>
		<string>9999</string>
	</dict>
	<dict>
		<key>deviceUID</key>
		<string>9255552002</string>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255552002</string>
		<key>email</key>
		<string>faker_elza@example.org</string>
		<key>activationCode</key>
		<string>9999</string>
	</dict>
	<dict>
		<key>deviceUID</key>
		<string>9255552003</string>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255552003</string>
		<key>email</key>
		<string>faker_kattie@example.org</string>
		<key>activationCode</key>
		<string>9999</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255551001</string>
		<key>email</key>
		<string>faker_roderick@example.org</string>
		<key>password</key>
		<string>password</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255551002</string>
		<key>email</key>
		<string>faker_odie@example.org</string>
		<key>password</key>
		<string>password</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>1</string>
		<key>phone</key>
		<string>9255551003</string>
		<key>email</key>
		<string>faker_judah@example.net</string>
		<key>password</key>
		<string>password</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>636467228</string>
		<key>email</key>
		<string>s.maximenko@mobidev.biz</string>
		<key>password</key>
		<string>36273948d0</string>
	</dict>
	<dict>
		<key>countryCode</key>
		<string>380</string>
		<key>phone</key>
		<string>951383026</string>
		<key>email</key>
		<string>s.maximenko@mobidev.biz</string>
		<key>password</key>
		<string>fdb6d6885b</string>
	</dict>
</array>
</plist>
