<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>production</key>
	<array>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>5171df9c37933818bebb0d9db5057d7796234e95</string>
			<key>email</key>
			<string>s.maximenko.mobidev@gmail.com</string>
			<key>password</key>
			<string>a878e7d3b6</string>
			<key>phone</key>
			<string>666386612</string>
		</dict>
	</array>
	<key>qa</key>
	<array>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>d6aa020a32d515a5580a876edd550ea883c1ca84</string>
			<key>email</key>
			<string>s.zakharov@mobidev.biz</string>
			<key>password</key>
			<string>f7c6287469</string>
			<key>phone</key>
			<string>918013610</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>6e1d94d450da08697858f5eae57443624720aa0b</string>
			<key>email</key>
			<string>sergey.zakharov.md@gmail.com</string>
			<key>password</key>
			<string>db503c87a6</string>
			<key>phone</key>
			<string>918013611</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>3968ca34dd8ded1dad041d72f10e474237b31297</string>
			<key>email</key>
			<string>s.maximenko@mobidev.biz</string>
			<key>password</key>
			<string>5c8f16812b</string>
			<key>phone</key>
			<string>951383026</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>472f48f0eea7013295780a17bdb65fbb</string>
			<key>email</key>
			<string>faker_roosevelt@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551001</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>480ecb80eea70132957b0a17bdb65fbb</string>
			<key>email</key>
			<string>faker_aiden@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551002</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>48ceb5b0eea70132957e0a17bdb65fbb</string>
			<key>email</key>
			<string>faker_iva@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551003</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>499ced70eea7013295810a17bdb65fbb</string>
			<key>email</key>
			<string>faker_irwin@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551004</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4a9b2be0eea7013295840a17bdb65fbb</string>
			<key>email</key>
			<string>faker_zoie_olson@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551005</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4b48df40eea7013295870a17bdb65fbb</string>
			<key>email</key>
			<string>faker_stanford@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551006</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4c0cd130eea70132958a0a17bdb65fbb</string>
			<key>email</key>
			<string>faker_gregg@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551007</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4cf21160eea70132958d0a17bdb65fbb</string>
			<key>email</key>
			<string>faker_tremayne@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551008</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4d9e8310eea7013295900a17bdb65fbb</string>
			<key>email</key>
			<string>faker_laurie.olson@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551009</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>1</string>
			<key>deviceUID</key>
			<string>4e603310eea7013295930a17bdb65fbb</string>
			<key>email</key>
			<string>faker_christy@mewrap.me</string>
			<key>password</key>
			<string>password</string>
			<key>phone</key>
			<string>9255551010</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>b2a4b58828dae03b5aacfd863368b32754da43e0</string>
			<key>email</key>
			<string>y.granchenko@gmail.com</string>
			<key>password</key>
			<string>7e53ec2fcf</string>
			<key>phone</key>
			<string>957115541</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>9a7992ba8b5b878b43037115f33b659e3d551f33</string>
			<key>email</key>
			<string>y.granchenko@mobidev.biz</string>
			<key>password</key>
			<string>da95730c56</string>
			<key>phone</key>
			<string>957115540</string>
		</dict>
		<dict>
			<key>countryCode</key>
			<string>380</string>
			<key>deviceUID</key>
			<string>42cdc5e475e6abce4d198fb2b52d9a7838e86d1c</string>
			<key>email</key>
			<string>yura-granchenko@yandex.ru</string>
			<key>password</key>
			<string>ae0fb8a5ae</string>
			<key>phone</key>
			<string>666680745</string>
		</dict>
		<dict>
			<key>deviceUID</key>
			<string>d06bc0532a4cd3aa7a8b0e372d249643a18f5544</string>
			<key>email</key>
			<string>s.maximenko@mobidev.biz</string>
			<key>password</key>
			<string>50e7c309e8</string>
		</dict>
	</array>
</dict>
</plist>
